@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap%22');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Footer */
.contatos {
    display:flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    background-color: #171717;
}


.icon-footer{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}


.contato-card>a:hover {
    opacity: 0.5;
    text-decoration: none;
}

.name {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 5px;
    font-weight: 400;
}

.responsavel {
    font-family: 'Open sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.75);
}

.info-rodape {
    top: 20px;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}



   /* desktop*/

@media (min-width:431px) {

.contatos {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.rodape{
    width: 100%;
}

.info-rodape > p {
    gap: 0px;
    padding-bottom: 10px;
    font-family: 'Open sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
}
}
